<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite-search_iphone">
  <test name="Test-iphone">
    <classes>
      <class name="Amazon_search.search_TC2"/>
       <methods>
          <include name="setup"/>
          <include name="teardown"/>
          <include name="search_product_iphone7" dependsOnMethods="autosuggestion" />
        </methods>
    </classes>
  </test> <!-- Test-iphone -->
</suite> <!-- Suite-search_iphone -->
