<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite-notificaiton">
  <test name="Test-notification">
    <classes>
      <class name="com.Laundry.PageObjects.Notification_TC1"/>
    </classes>
  </test> <!-- Test-notification -->
</suite> <!-- Suite-notificaiton -->
